[submodule "etc/libdparse"]
	path = etc/libdparse
	url = https://github.com/Hackerpilot/libdparse.git
[submodule "etc/travis-lazarus"]
	path = etc/travis-lazarus
	url = https://github.com/nielsAD/travis-lazarus.git
